footer {
    color: darkred;
}

body {
    background: url('.././img/wallofsound.jpg');
    background-size: 100%;
    color: darkblue;
}

h1 {
    color: darkblue;
    background-color: azure;
    text-align: center
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}


a {
    color: mediumblue;
    background-color: azure;
}

.container {
    background-color: azure;
}

.pagination {
    background-color: azure;
}