footer {
    color: darkred;
}

body {
    background: url('.././img/wallofsound.jpg');
    background-size: 100%;
    color: darkblue;
    font-family: 'Metrophobic', sans-serif;
}

h1 {
    color: darkblue;
    background-color: azure;
    text-align: center;
    margin-left: 200px;
    margin-right: 150px
}



a {
    color: mediumblue;
    background-color: azure;
}

.container {
    background-color: azure;
}

.pagination {
    background-color: azure;
}